<h1>HOME LOAN</h1>
<h1>EMI CALCULATOR</h1>

<div class="container">
  <div class="row h-100">
    <div class="col-md-5">
      <div class="row">
        <div class="slider_1"><%= hidden_field_tag("l_amount", 100000) %></div>
        <span class="sub-headings">LOAN AMOUNT - (&#8377;)</span>
      </div>
      <div class="row">
        <div class="slider_2"><%= hidden_field_tag("l_tenure", 72) %></div>
        <span class="sub-headings">TENURE - (M)</span>
      </div>
      <div class="row">
        <div class="slider_3"><%= hidden_field_tag("l_rate", 7.5) %></div>
        <span class="sub-headings">INTEREST RATE - (%)</span>
      </div>
    </div>
  <div class="col-md-7">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class="position-relative">
      <canvas id="emi_calc"></canvas>
      <div class="position-absolute position-center text-center pt-5">
        <div class="fw-bold text-uppercase mb-0"><sup>&#8377;</sup><span id="installment">0</span><sub>/month</sub></div>
      </div>
    </div>
  </div>
</div>
</div>
