<% content_for :content do %>

  <div class="container bg-1">
    <div class="row h-100">
        <div class="col-sm-12" style="margin: 45px auto;">
            <div class="card card-block w-75 mx-auto bg-2">
                  <%= yield %>
            </div>
        </div>
    </div>
  </div>
<% end %>

<%= render template: "layouts/application" %>
